<h1> this is my home page</h1>

<!DOCTYPE html>
<html>
  <head>
    <title>Homework 7 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    
  </head>
  <body>
    
<form id=searchBar  action = "/detail" method= 'post'>
    <input type='text' name="inventorFirst" placeholder ="inventors first name" > 
    <button>search</button>
  </form>

<p>ADD ITEM TO ARRAY</p> 
<form id=addBar action="/add" method="POST"> 
  <input type="text" name="addItem" placeholder="add inventor name"> 
  <button>Add</button>

</form>

<div id="appRoot"></div>
<script type='text/babel'> 

class InventorListings extends React.Component {
  constructor(props){
  super(props); 
    this.state = { 
      items: {{{items}}}, 
      filter: "", 
      curItem: {},
    };
  }
render(){ 
  return(<div> "hello world"</div>); 
}

    
}
 
ReactDOM.render( 
  <InventorListings/>, document.getElementById('appRoot')
);

  </script>


    
  

  </body>
</html>