<h1> this is my home page</h1>

<!DOCTYPE html>
<html>
  <head>
    <title>Homework 7 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    
  </head>
  <body>
    
<form id=searchBar  action = "/detail" method= 'post'>
    <input type='text' name="inventorFirst" placeholder ="inventors first name" > 
    <button>search</button>
  </form>

<p>ADD ITEM TO ARRAY</p> 
<form id=addBar action="/add" method="POST"> 
  <input type="text" name="addItem" placeholder="add inventor name"> 
  <button>Add</button>

</form>

<div id="appRoot"></div>
<script type='text/babel'> 

class InventorListings extends React.Component {
  constructor(props){
  super(props); 
    this.state = { 
      items: {{{items}}}, 
      filter: "", 
      curItem: {},
    };
  };

///////////////////////////////////////////////////////////////////test
render(){ 
  return(<div><ItemList  
      items={this.state.items}
      filter = { this.state.filter} 
      show = { this.showDetails.bind(this)}
    />
            
     </div>); 
}

    
}
 const ItemList = ({ items, filter, show}) => { 
   const itemNodes = items.map((item)=> { 
     if(!filter || item.name.toLowerCase().includes(filter)){
       return <li id = {item._id} key = {item._id} onClick = { show}>{item.first}</li> 
     }
   })
 });

 const ItemDetails = (props) => { 
   return ( 
     <span id = "item-details"> 
      <h2>Details:<h2> 
        <li>first: { props.item.first}</li>
        <li>last: { props.item.last}</li>

        <li>year: { props.item.year}</li>

   )
 }
ReactDOM.render( 
  <InventorListings/>, document.getElementById('appRoot')
);

  </script>


    
  

  </body>
</html>