<!DOCTYPE html>
<html>
  <head>
    <title>Inventors Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <script> 


    </script>
    
  </head>
  <body id= 'homeBody'> 


        <div id= 'inventorsListings'> 
            <main id="listOfInventors">    
                
            
            
            
            
            
            
            </main> 



            <aside id="formBar">






            </aside>


        </div>

        




    <p id="pass"></p>  

  </body>

</html>